{% extends 'base.jinja' %}

{% block title %} Newest Plant{% endblock %}

{% block content %}
<h1>FOLLOWING</h1>
<p>
<br />
<br>
<table border="1" cellpadding="5" cellspacing="5">


<br />
   

</p>
{% endblock %}