{% extends 'base.jinja' %}

{% block title %}Flaskspiel - Home{% endblock%}
{% block content %}
<p>
Welcome to Punzels Flask Application with Lev Pashas Instagram API!
</p>
<a href="{{ url_for('login') }}">Login</a>

{% endblock %}
