{% extends 'base.jinja' %}

{% block title %}Instagram App - Login{% endblock %}

{% block content %}
<h1>Login</h1>

<br />
<form method="POST" action="{{ url_for('login', next=request.args.get('next')) }}">
  {{ form.hidden_tag() }}
    {{form.username.label }} {{form.username(size=20)}}
    <br>
    {{ form.password.label }} {{ form.password(size=20) }}
    <br>
    {{ form.active.label }} {{ form.active }}
    <br />
    <input type="submit" value="Go">
</form>
</p>
{% endblock %}